@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*  {
  padding: 0;
  margin: 0;
} */

body {
  /* background-image: url("./twinkle2X.png"); */
  background-image: url("./twinkle2X.png");
  background-color: #045b62ff;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: greenyellow;
}

a:visited {
  color: khaki;
}

.avatar {
  margin-top: 25px;
  width: 200px;
  border-radius: 14px;
  /* border-radius: 200%; */
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.head {
  /* display: flex; */
  margin-bottom: 20px;
  text-align: center;
}

.head p {
  color: #323336;
  margin: 0;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

/* .head-text {
  margin-left: 40px;
} */

.head-text h4 {
  color:cadetblue;
  margin-bottom: 10px;
}

.head-text h1 {
/*   color: #e5ffe7; */
  color: darkcyan;
}

/* Box  model*/

.container {
  max-width: 750px;
  margin: auto;
}

.card h2 {
  text-align: center;
  margin-top: 5px;
}

.list {
  padding: 0 20px;
  list-style: none;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.bg-yellow {
  background-color: #dfd096;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.bg-green {
  background-color: #97c89d;
}

.bg-red {
  background-color: #be9696;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.foot {
  margin-bottom: 200px;
}
/* .social {
  background-color: rosybrown;
  padding: 15px;
  border: 3px solid grey;
} */

/* .box-model > div {
  margin-top: 25px;
  float: left;
  background-color: black;
  height: 200px;
  width: 25%;
  border: 1px solid yellow;
  box-sizing: border-box;
} */
